@page
@model BarberShopApp.Pages.Appointments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Barber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].ClientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].ClientEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Appointment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Barber.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AppointmentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AppointmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
